**/.idea
**.iml
**/target
**/HELP.md
**/!.mvn/wrapper/maven-wrapper.jar

# Mac
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Maven
**/log/
**/logs/
**/target/

#Gradle
**/build/
**/gradle/
**/.gradle/

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/

### VS Code ###
.vscode/

#Video
**/Video_spring_developer/

#Dumps
**/dumps

#Logs
**/.log

#pdf
**/.pdf
